
.header{
    background:url('./images//Vector\ Smart\ Object.png') 0 40%/cover no-repeat, url('./images/Background.png') 0 -250px/cover no-repeat;
    height: 65%;
}
.social-head{
    margin-bottom: 1rem;
}
.contac{
    display: inline-block;
    list-style: square;
}


.footer{
   font-size: 10px;
   line-height: 1.5rem;
   padding-top: 3.75rem;
    background: linear-gradient(to right, rgba(63, 63, 63, .9), rgba(63, 63, 63, .9)) ,url('./images//Background\ 2.png') 0 40%/cover no-repeat;
    height: 410px;
}